
:data {
  :dir "data"
  :paths {
;    :dict "data/dict"
  }
}

:confusion-sets {
  :lex-dist 2
  :phon-dist 1
  :post-rank-cutoff 10 ; percent
}

:train {
  :nmd {
    :post-rank-cutoff 30 ; percent
    :freq-cutoff 10
    :min-length 4
    :n-gram-order 2
    :window-size 3
    :measure "jensen"
  }
}
