
:data {
  :dir "data"
  :paths {
;    :dict "data/dict"
  }
}

:confusion-sets {
  :lex-dist 2
  :phon-dist 1
  :post-rank-cutoff 10 ; percent
}

:train {
  :nmd {
    :post-rank-cutoff 30 ; percent
    :freq-cutoff 10 ; DELETE THIS
    :min-freq 10
    :min-length 4
    :pair-rank-cutoff 40000
    :n-gram-order 2
    :window-size 3
    :measure "Lin"
  }

  :dpb {
    :num-sents 40000000
  }

  :lksm {
    :bias 1.0
    :eps 0.01
    :c 1.0
    :num-candidates 1
  }
}
